<!DOCTYPE html>
<html>

<head>
    <title>Auction | Error <%= error.status %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <%- include('partials/header'); -%>
        <h1>
            <%= error.status %>
        </h1>
        <p>
            <%= error.message %>
        </p>
        <%- include('partials/footer'); -%>
</body>

</html>