<!DOCTYPE html>
<html>

<head>
    <title>Auction | <%= title %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <%- include('partials/header'); -%>
        <div class="imgcontainer">
            <img src="data:product/<%=product.img.contentType%>;base64,
                     <%=product.img.data.toString('base64')%>">
            <div>
                <h3>
                    <%= product.title %>
                </h3>
                <p>
                    By <a href="/users/<%=product.uid.username %>">
                        <%= product.uid.username %>
                    </a>
                </p>
                <p>
                    Rated : <%= parseFloat(product.rateValue/product.rateCount).toFixed(2) %>
                </p>
                <hr />
                <p>
                    <%= product.about %>
                </p>
                <div class="tag">
                    <% product.tags.forEach(function (tag) { %>
                        <p>
                            <%= tag %>
                        </p>
                        <% }) %>
                </div>
                <hr />
                <% if (product.time < new Date()) { %>
                    <div>
                        Bidding Closed
                    </div>
                    <% } else { %>
                        <form class="bidform" action="/products/bid/<%=product._id%>" method="POST">
                            <input name="bid" min="1" type="number" placeholder="Enter Your Bid">
                            <button type="submit">Place Bid</button>
                        </form>
                        <% } %>
                            <div class="bids">
                                <h2>Current Bids</h2>
                                <% product.bidders.forEach(function (bid) { %>
                                    <div class="bid">
                                        <span>
                                            <a href="/users/<%=bid.bidder.username %>">
                                                <%= bid.bidder.username %>
                                            </a>
                                        </span>
                                        <span>
                                            $ <%= bid.bid %>
                                        </span>
                                    </div>
                                    <% }) %>
                            </div>
                            <div>
                                <form class="bidform" action="/products/<%=product._id%>/rating" method="post">
                                    <label for="rating">Rate (0 - 5)</label>
                                    <div>
                                        <p>0</p>
                                        <p>5</p>
                                    </div>
                                    <input type="range" min="0" max="5" step="1" value="0" name="rating" />
                                    <button type="submit">Add Rating</button>
                                </form>
                                <form class="bidform" action="/products/<%=product._id%>/comment" method="post">
                                    <input name="comment" type="text" placeholder="Comment here">
                                    <button type="submit">Add Comment</button>
                                </form>
                            </div>
                            <div class="comments">
                                <h3>Comments</h3>
                                <% product.comments.forEach(function (comment) { %>
                                    <div class="comment">
                                        <div>
                                            <a href="/users/<%=comment.commenter.username %>">
                                                <%= comment.commenter.username %>
                                            </a>
                                            <% if (comment.commenter.username==username) { %>
                                                <div>
                                                    <a href="/products/<%=product._id%>/<%=comment._id%>">Edit</a>
                                                    <span style="padding: 0 8px;">|</span>
                                                    <a
                                                        href="/products/<%=product._id%>/delete/<%=comment._id%>">Delete</a>
                                                </div>
                                                <% } %>
                                        </div>
                                        <div>
                                            <%= comment.comment %>
                                        </div>
                                    </div>
                                    <% }) %>
                            </div>
            </div>
        </div>
        <%- include('partials/footer'); -%>
</body>

</html>