<!DOCTYPE html>
<html>

<head>
    <title>Auction | <%= title %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <%- include('partials/header'); -%>
        <h1>
            <%= title %>
        </h1>
        <% users.forEach(function(user) { %>
            <div class="userCard" style="cursor: pointer;" onclick="window.location='/users/<%=user.username%>';">
                <h5>
                    Username : <%= user.username %>
                </h5>
                <p>
                    Name : <%= user.name %>
                </p>
            </div>
            <% }) %>
                <%- include('partials/footer'); -%>
</body>

</html>